# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist

# misc
.DS_Store
npm-debug.log*


＃程序和插件的二进制文件
* .exe
* .exe~
* .dll
* .so
* .dylib
node_modules
＃测试二进制文件，使用`go test -c`构建
* .test

＃旅途覆盖工具的输出，特别是与LiteIDE使用时
* .out
* .idea