<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/imgs/favicon.ico">
    <link href="/css/login.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/login.js?_t=1544446588000"></script>
    <title>智能仓库系统登录中心</title>
</head>

<body>
    <header>
        <div class="logo">
            <!-- <img src="/imgs/logo.png" /> -->
            <div class="logtext1">PPM-STORE</div>
        </div>
        <div class="logtext">*致力于最好的仓库管理系统*</div>

        <div class="www">了解更多>></div>
    </header>
    <section>
        <div class="login">
            <div class="tip">帐号登录</div>
            <div class="error">

            </div>
            <div class="content">
                <input id="phone" name="phone" type="text" placeholder="帐号" maxlength="11" />
            </div>
            <div class="content">
                <input id="passwd" name="passwd" type="password" placeholder="密码" />
            </div>
            <div class="content">
                <button id="login" type="button">登 录</button>
            </div>
            <div class="xiamian">
                <div class="regist">注册</div>
                <div class="forget">忘记密码？</div>
            </div>
        </div>
    </section>
    <footer>
        <div class="tip">
            <div class="contact">
                <div>智能一体</div>
                |
                <div>省时省力</div>
                |
                <div>减少开支</div>
                |
                <div>快速出入</div>
            </div>
            <div class="statement">Copyright © 2019-06-01 罗盼 版权所有 违者必究</div>
        </div>
    </footer>
</body>

</html>